#h1{
    font-size: xx-large;
}

img{
 width: 100;
 margin: auto;
 display: block;
}

code {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #660000;
    font-style: normal
 }

pre {  color: #660000; font-family: Verdana, Arial, Helvetica, sans-serif
}

.col{
    color:black;
}

.number{ color: blue;}